@import "../../global/mixins";
.card{
    display: flex;
    margin-top: 40px;
    font-size: 14px;

    img{
        margin: 10px;
    }
}

@include breakpoint("medium-large") {
    .card{
      align-items: center;
      flex-direction: column;
      max-width: 190px;
      gap: 10px;
    }

}
