@import "../../global/mixins";
.title {
    color: #ffffff;
    font-size: 43px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;

    @include breakpoint("medium") {
      font-size: 72px;
      line-height: 81px;
    }
}