@import "../../global/mixins";
.div_rectum {
    width: 1px;
    height: 84px;
    background-color: #e1dbeb;
    opacity: 0.3;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint("medium") {
      height: 50%;
    }

    @include breakpoint("medium-large") {
      height: 100%;
    }
}

.div_flat {
    background-color: #e1dbeb;
    height: 1px;
    opacity: .3;
    width: 100%;
    margin-bottom: 20px;
}