@import "./global/mixins";

body {
  background-color: #0a0033;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 80px;

  &_container {
    max-width: 1366px;
    padding: 0px 20px;

    @include breakpoint("medium") {
      padding: 0px 40px;
      width: calc(100% - 80px);
      margin: auto;
    }
  }
}
//---------DIVIDER--------------
.divider {
  background: wheat;
  margin-bottom: 20px;

  @include breakpoint("medium") {
    margin-bottom: 60px;
  }

  @include breakpoint("large") {
    margin-bottom: 10px;
  }
}

.div_flat {
  height: 1px;
  opacity: .3;
  width: 100%;
}

.div_rectum {
  width: 1px;
  height: 84px;
  background-color: #e1dbeb;
  opacity: 0.3;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);

  @include breakpoint("medium") {
    height: 50%;
  }

  @include breakpoint("medium-large") {
    height: 100%;
  }
}

